<div [ngClass]="{'card-selected' : (isSelected)}">
<div [ngClass]="{'product-card':true,'no-shadow' : (isSelected)}" (click)=sendItemId(product.id) >
  
  
  <div class="card-first-chield-container">

    <!-- <mat-icon class="material-icons-outlined icon">lunch_dining</mat-icon> -->
    <mat-icon class="material-icons-outlined icon">fastfood</mat-icon>
    <div class="card-chield-container">
      <span class="card-child-title">Nome</span>
      <span class="card-child-text">{{productName}}</span>
    </div>
  </div>

  <div class="card-chield-container">
    <span class="card-child-title">Valor Unitário</span>
    <span class="card-child-text">R$ {{unitValue}}</span>
  </div>

  <div class="card-chield-container">
    <span class="card-child-title">Custo Unitário</span>
    <span class="card-child-text">R$ {{unitCost}}</span>
  </div>
  
  
  
</div>
</div>

