.dialog-container{
    height: 100%;
    width: 100%;
    background-color: #00062b;
    box-shadow: 0px 0px 4px 2px #000000;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    border: 3px solid;
    
    .dialog-title{
        width: 100%;
        height: 40px;
        color:#AF4FCB;
        font-size: 1.2rem;
        border-bottom: 2px solid #AF4FCB;

    }

    .dialog-chield-container{
        width: 100%;
        height: 45px;
        color: #26B373;
        border: 2px solid #26B373;
        border-radius: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px 10px;
        gap:10px;

        .input-title{
            width: 160px;
            font-size: 0.9rem;
        }

        .input{
            background-color: transparent;
            color:#AF4FCB;
            font-size: 0.9rem;
            font-weight: 500;
            text-align: justify;
            width: 100%;
        }

    

    }

    .dialog-chield-container-last-chield{
        border:none !important;
        width: 100%;
        display: flex;
        justify-content: space-between;

        .btn{
           
            border-radius: 5px;
            width: 200px !important;
            height: 45px !important;
            padding: 0px !important;
            cursor: pointer;
            background-color: transparent;
            font-size: 0.9rem;
        }

        .cancel{
            transition: color 0.7s ease-in-out;
            border: 2px solid #D7436E !important;
            color: #D7436E !important;
        }

        .save{
            transition: color 0.7s ease-in-out;
            border: 2px solid #2B6AC5 !important;
            color: #2B6AC5 !important;
        }

        .btn:hover{
            transition: color 0.7s ease-in-out;
            color:#C959E1 !important;
            border: 2px solid #C959E1 !important;
        }
        .btn:active{
            position: relative;
            top: 2px;
        }
    }

 
}
