.table-dialog-container{
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      background-color: #00062b;
      border: 2px solid #26B373;
      border-radius: 4px;
      box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
      box-sizing: border-box;
      padding:10px 20px;

      .header-container{
            width: 100%;
            height: 51px;
            padding: 0px 0px 10px 0px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 2px solid #AF4FCB;

            .header-title{
                  font-size: 1.1rem;
                  color: #26B373;     
            }

            .btn-voltar{
                  padding: 8px 20px;
                  border: 1px solid #26B373;
                  border-radius: 4px;
                  font-size: 1rem;
                  font-weight: 500;
                  color: #26B373;
            }

            .btn-voltar:hover{
                  cursor: pointer;
            }

            .btn-voltar:active{
                  position: relative;
                  top: 1px;
            }
      }

      .main-container{
            width: 100%;
            height: 100%;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-between;
            box-sizing: border-box;
            padding: 15px 0px 5px 0px;

            .content-container{
                  width: 32%;
                  height: 100%;
                  border: 2px solid #AF4FCB;
                  border-radius: 4px;
            }
      }
}