<div class="table-dialog-container">
      <div class="header-container">
            <span class="header-title">Controle de Mesa</span>
            <button class="btn-voltar" (click)="closeDialog('normal')">Voltar</button>
      </div>

      <!-- Content container -->
      <div class="main-container">

            <!-- First Card -->
            <div class="content-container">
                  <span class="content-title green">Mesa: {{table.id}}</span>

                  <!-- Input Container 2 inputs -->
                  <div class="input-container">

                        <div class="first-input">
                            <span class="input-label green">Garçom: </span>

                                <!-- Waiter Select -->
                                <mat-form-field appearance="fill">
                                  <mat-label>Nome</mat-label>
                                  <mat-select [(ngModel)]="table.waiter.workerId" name="waiter" (selectionChange)="waiterHasBeenChanged($event.value)">
                                    <mat-option *ngFor="let waiter of waiters" [value]="waiter.workerId">
                                      {{waiter.name}}
                                    </mat-option>
                                  </mat-select>
                                </mat-form-field>
                        </div>

                        <!-- Client Name -->
                        <div class="first-input">
                              <span class="input-label green">Cliente: </span>
                              <input [(ngModel)]="table.clientName"  name="clientName" type="text" class="input green">
                        </div>



                  </div>

                  <!-- Info Container -->
                  <div class="info-card-container">
                      <ng-container *ngIf="table.isOccupy">

                        <span class="input-label green"> Informações</span>
                        <div class="info-content">
                              <div class="info-row">
                                    <span class="info-text">Cliente:</span>
                                    <span class="info-text">{{table.clientName}}</span>
                              </div>
                              <div class="info-row">
                                    <span class="info-text">Garçom:</span>
                                    <span class="info-text">{{table.waiter.name}}</span>
                              </div>
                              <div class="info-row">
                                    <span class="info-text">Inicio:</span>
                                    <span class="info-text">{{startTimeHtmlBinder}}</span>
                              </div>
                              <div class="info-row">
                                    <span class="info-text">Duração:</span>
                                    <span class="info-text">{{durationTimeHtmlBinder}}</span>
                              </div>
                              <!-- <div class="info-row">
                                    <span class="info-text">Cliente:</span>
                                    <span class="info-text">João dos santos</span>
                              </div>
                              <div class="info-row">
                                    <span class="info-text">Cliente:</span>
                                    <span class="info-text">João dos santos</span>
                              </div>
                              <div class="info-row">
                                    <span class="info-text">Cliente:</span>
                                    <span class="info-text">João dos santos</span>
                              </div> -->
                        </div>

                      </ng-container>
                        <button [ngClass]="{'btn-start-table': true,'btn-disabled': canNotStartTable()}"  (click)="startTable()">
                              <span [ngClass]="{'input-label green': true, 'label-button-disable': canNotStartTable() }">Iniciar Mesa</span>
                        </button>
                  </div>
            </div>

            <!-- Sencond/Midlle Card -->
            <div class="content-container">
                  <span class="content-title green">Incluir</span>

                  <!-- Input Container 2 inputs -->
                  <div class="input-container">


                    <div class="first-input">

                          <span class="input-label green">Produto: </span>

                          <!-- Product Select -->
                          <mat-form-field appearance="fill">
                            <mat-label>Nome</mat-label>
                            <mat-select   (selectionChange)="productHasBeenChanged($event.value)" [(ngModel)]="productSelectedValue" [disabled]="!isTableStarted()">
                              <mat-option *ngFor="let product of products" [value]="product.id">
                                {{product.name}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>

                     </div>


                    <div class="first-input">
                          <span class="input-label green">Quantidade: </span>
                          <input [(ngModel)]="productToAdd.quantity" name="quantity" type="number" class="input green">
                    </div>

                  </div>

                  <!-- Info Container -->
                  <div class="info-card-container" >
                    <ng-container *ngIf="!!productSelectedValue">
                        <span class="input-label green"> Produto  a ser incluido</span>
                        <div class="info-content">
                              <div class="info-row">
                                    <span class="info-text">Produto:</span>
                                    <span class="info-text">{{ productToAdd.name }}</span>
                              </div>
                              <div class="info-row">
                                    <span class="info-text">Valor Unitário:</span>
                                    <span class="info-text">{{ 'R$ '+ (productToAdd.unitValue).toFixed(2) }}</span>
                              </div>
                              <div class="info-row">
                                    <span class="info-text">Quantidade:</span>
                                    <span class="info-text">{{ productToAdd.quantity }}</span>
                              </div>
                              <div class="info-row">
                                <span class="info-text">10%</span>
                                <span class="info-text">{{ 'R$ '+ ((productToAdd.unitValue * productToAdd.quantity) * 0.1).toFixed(2) }}</span>
                              </div>
                              <div class="info-row">
                                    <span class="info-text">Total:</span>
                                    <span class="info-text">{{ 'R$ '+ (productToAdd.unitValue * productToAdd.quantity).toFixed(2) }}</span>
                              </div>
                              <!-- <div class="info-row">
                                    <span class="info-text">10%</span>
                                    <span class="info-text">R$3,50</span>
                              </div>
                              <div class="info-row">
                                    <span class="info-text">Total:</span>
                                    <span class="info-text">R$38,50</span>
                              </div> -->
                        </div>
                      </ng-container>
                        <button [ngClass]="{'btn-start-table': true,'btn-disabled': includeProductIsDisabled() }" [disabled]="includeProductIsDisabled()" (click)="addProductToTable()"   >
                              <span [ngClass]="{'input-label green': true, 'label-button-disable':includeProductIsDisabled() }" >Incluir  Produto</span>
                        </button>
                  </div>

            </div>

            <!-- Third Card -->
            <div class="content-container content-last-card-container">
              <span class="content-title green">Conta</span>

              <!-- Input Container 2 inputs -->
              <div class="input-container last-card-input-container">

                <!-- Table of products -->
                <mat-table [dataSource]="dataSource" class="mat-elevation-z8 account-product-table">
                   <!-- Name Column -->
                  <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef class="first-cell">Produto</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="first-cell"> {{ element.name }} </mat-cell>
                  </ng-container>

                  <!-- UnitValue Column -->
                  <ng-container matColumnDef="unitValue">
                    <mat-header-cell *matHeaderCellDef>Valor Unitário</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{ 'R$ '+ element.unitValue }} </mat-cell>
                  </ng-container>

                  <!-- Quantity Column -->
                  <ng-container matColumnDef="quantity">
                    <mat-header-cell *matHeaderCellDef>Quantidade</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{ element.quantity }} </mat-cell>
                  </ng-container>

                  <!-- Total Column -->
                  <ng-container matColumnDef="totalColumn">
                    <mat-header-cell *matHeaderCellDef>Total</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="last-cell">
                      <span>
                        {{ 'R$ '+((element.unitValue * element.quantity).toFixed(2)) }}
                      </span>
                      <button (click)="deleteProductFromAccountList(element.id)">
                        <mat-icon class="delete-product-icon">delete_forever</mat-icon>
                      </button>
                    </mat-cell>
                  </ng-container>

                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

                </mat-table>



              </div>

              <!-- Info Container -->
              <div class="info-card-container  last-info-card" >
                <ng-container *ngIf="table.isOccupy">
                    <span class="input-label green"> Detalhes da conta</span>
                    <div class="info-content">
                          <div class="info-row">
                                <span class="info-text">Conta:</span>
                                <span class="info-text">{{ 'R$ '+ calcTotalAccountWithoutTenPerCent() }}</span>
                          </div>
                          <div class="info-row">
                                <span class="info-text">10%</span>
                                <span class="info-text">{{ 'R$ '+ calcTenPerCentOfAccount() }}</span>
                          </div>
                          <div class="info-row">
                                <span class="info-text">Total c/ 10%:</span>
                                <span class="info-text">{{ 'R$ '+ calcTotalAccountWithTenPerCent() }}</span>
                          </div>
                    </div>
                  </ng-container>
                  <div class="cancel-table-and-finosh-buttons-container">
                    <button [ngClass]="{'btn-cancel-table': true,'btn-disabled': !table.isOccupy }" [disabled]="!table.isOccupy" (click)="cancelTable()" >
                      <span [ngClass]="{'input-label red': true, 'label-button-disable':!table.isOccupy }" >Cancelar Conta</span>
                    </button>
                    <button [ngClass]="{'btn-finish-table': true,'btn-disabled': !table.isOccupy }" [disabled]="!table.isOccupy" (click)="closeDialog('finishTable')" >
                      <span [ngClass]="{'input-label blue': true, 'label-button-disable':!table.isOccupy }" >Fechar Conta</span>
                    </button>
                  </div>
              </div>


            </div>

      </div>
</div>
<er-snack-bar [messageRecived]="messageSent"></er-snack-bar>
