<div class="table-dialog-container">
      <div class="header-container">
            <span class="header-title">Controle de Mesa</span>
            <button class="btn-voltar" (click)="closeDialog()">Voltar</button>
      </div>

      <!-- Content container -->
      <div class="main-container">

            <!-- First Card -->
            <div class="content-container">
                  <span class="content-title green">Mesa: {{table.id}}</span>

                  <!-- Input Container 2 inputs -->
                  <div class="input-container">

                        <div class="first-input">
                            <span class="input-label green">Garçom: </span>

                                <!-- Waiter Select -->
                                <mat-form-field appearance="fill">
                                  <mat-label>Nome</mat-label>
                                  <mat-select [(ngModel)]="table.waiter.workerId" name="waiter" (selectionChange)="waiterHasBeenChanged($event.value)">
                                    <mat-option *ngFor="let waiter of waiters" [value]="waiter.workerId">
                                      {{waiter.name}}
                                    </mat-option>
                                  </mat-select>
                                </mat-form-field>
                        </div>

                        <!-- Client Name -->
                        <div class="first-input">
                              <span class="input-label green">Cliente: </span>
                              <input [(ngModel)]="table.clientName"  name="clientName" type="text" class="input green">
                        </div>



                  </div>

                  <!-- Info Container -->
                  <div class="info-card-container">
                      <ng-container *ngIf="table.isOccupy">

                        <span class="input-label green"> Informações</span>
                        <div class="info-content">
                              <div class="info-row">
                                    <span class="info-text">Cliente:</span>
                                    <span class="info-text">{{table.clientName}}</span>
                              </div>
                              <div class="info-row">
                                    <span class="info-text">Garçom:</span>
                                    <span class="info-text">{{table.waiter.name}}</span>
                              </div>
                              <div class="info-row">
                                    <span class="info-text">Inicio:</span>
                                    <span class="info-text">{{startTimeHtmlBinder}}</span>
                              </div>
                              <div class="info-row">
                                    <span class="info-text">Duração:</span>
                                    <span class="info-text">{{durationTimeHtmlBinder}}</span>
                              </div>
                              <div class="info-row">
                                    <span class="info-text">Cliente:</span>
                                    <span class="info-text">João dos santos</span>
                              </div>
                              <div class="info-row">
                                    <span class="info-text">Cliente:</span>
                                    <span class="info-text">João dos santos</span>
                              </div>
                              <div class="info-row">
                                    <span class="info-text">Cliente:</span>
                                    <span class="info-text">João dos santos</span>
                              </div>
                        </div>

                      </ng-container>
                        <button [ngClass]="{'btn-start-table': true,'btn-disabled': canNotStartTable()}"  (click)="startTable()">
                              <span [ngClass]="{'input-label green': true, 'label-button-disable': canNotStartTable() }">Iniciar Mesa</span>
                        </button>
                  </div>
            </div>

            <!-- Sencond/Midlle Card -->
            <div class="content-container">
                  <span class="content-title green">Incluir</span>

                  <!-- Input Container 2 inputs -->
                  <div class="input-container">


                    <div class="first-input">

                          <span class="input-label green">Produto: </span>

                          <!-- Product Select -->
                          <mat-form-field appearance="fill">
                            <mat-label>Nome</mat-label>
                            <mat-select   (selectionChange)="productHasBeenChanged($event.value)">
                              <mat-option *ngFor="let product of products" [value]="product.id">
                                {{product.name}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>

                     </div>


                    <div class="first-input">
                          <span class="input-label green">Quantidade: </span>
                          <input [(ngModel)]="productToAdd.quantity" name="quantity" type="number" class="input green">
                    </div>

                  </div>

                  <!-- Info Container -->
                  <div class="info-card-container">

                        <span class="input-label green"> Produto  a ser incluido</span>
                        <div class="info-content">
                              <div class="info-row">
                                    <span class="info-text">Produto:</span>
                                    <span class="info-text">Coca-Cola</span>
                              </div>
                              <div class="info-row">
                                    <span class="info-text">Valor Unitário:</span>
                                    <span class="info-text">R$ 15,00</span>
                              </div>
                              <div class="info-row">
                                    <span class="info-text">Quantidade:</span>
                                    <span class="info-text">2 Unidades</span>
                              </div>
                              <div class="info-row">
                                    <span class="info-text">Total:</span>
                                    <span class="info-text">R$30,00</span>
                              </div>
                              <div class="info-row">
                                    <span class="info-text">Conta:</span>
                                    <span class="info-text">R$35,00</span>
                              </div>
                              <div class="info-row">
                                    <span class="info-text">10%</span>
                                    <span class="info-text">R$3,50</span>
                              </div>
                              <div class="info-row">
                                    <span class="info-text">Total:</span>
                                    <span class="info-text">R$38,50</span>
                              </div>
                        </div>

                        <button [ngClass]="{'btn-start-table': true,'btn-disabled': canNotStartTable()}"  >
                              <span [ngClass]="{'input-label green': true, 'label-button-disable':canNotStartTable() }" (click)="addProductToTable()">Incluir Produto</span>
                        </button>
                  </div>

            </div>

            <div class="content-container">

            </div>

      </div>
</div>
<er-snack-bar [messageRecived]="messageSent"></er-snack-bar>
