<div class="table-dialog-container">
      <div class="header-container">
            <span class="header-title">Controle de Mesa</span>
            <button class="btn-voltar" (click)="closeDialog()">Voltar</button>
      </div>

      <!-- Content container -->
      <div class="main-container">

            <div class="content-container">

            </div>

            <div class="content-container">

            </div>

            <div class="content-container">

            </div>

      </div>
</div>