<er-top-menu></er-top-menu>
<div class="bg-color-default">
  <er-left-side-menu 
  (addElement)="addElement()"
  (editElement)="editElement()"
  (removeElement)="removeElement()">
  </er-left-side-menu>

  <div  class="container" >

    <div class="search-container">
      <span class="material-icons-round green" >search</span>
      <input type="text" class="input-search" (change)="searchElement($event)" spellcheck="false" autocomplete="off">
    </div>

    <div *ngIf="context === 'Product'" class="overflow"> 

      <product-card-list  *ngFor="let item of elementFiltredList" [product]="item"
      (itemSelected)="selectItem($event)"
      [changeClass]="classSelected">
     </product-card-list>

    </div>

    <div *ngIf="context === 'Function'"> 

      <function-card-list  *ngFor="let item of elementFiltredList" [function]="item"
      (itemSelected)="selectItem($event)"
      [changeClass]="classSelected">
      </function-card-list>

    </div>

  </div>

</div>

