<er-top-menu></er-top-menu>
<div class="bg-color-default">
  <er-left-side-menu 
  (addElement)="addElement()"
  (editElement)="editElement()"
  (removeElement)="removeElement()">
  </er-left-side-menu>

  <div  class="container" >

    <div class="search-container">
      <mat-icon class="material-icons-round green" >search</mat-icon>
      <input type="text" class="input-search" (change)="searchElement($event)" spellcheck="false" autocomplete="off" #searchInputField>
      <button class="search-button" (click)="clearSearch()">
        <mat-icon class="material-icons-round green">close</mat-icon>
      </button>
    </div>

    <div *ngIf="context === 'Product'" class="overflow"> 

      <product-card-list  *ngFor="let item of elementFiltredList" [product]="item"
      (itemSelected)="selectItem($event)"
      [changeClass]="classSelected">
     </product-card-list>

    </div>

    <div *ngIf="context === 'Function'"> 

      <function-card-list  *ngFor="let item of elementFiltredList" [function]="item"
      (itemSelected)="selectItem($event)"
      [changeClass]="classSelected">
      </function-card-list>

    </div>

  </div>

</div>

