

<div class="header-menu-container">
 
    <div class="top-row-container">
  
      <div class="company-logo">
        <span class="logo-text green">EASY</span>
        <span class="logo-text red">RESTAURANT</span>
      </div>
  
      <span routerLink="/" class="material-icons-round icon">exit_to_app</span>
  
    </div>
  
    <div class="bottom-row-container">
  
      <div class="bottom-row-left-chield-container">
  
          <button routerLink="/home" class="left-chield">
            <span class="material-icons-round icon">home</span>
            <span  class="chield-text">Home</span>
          </button>
  
          <button routerLink="/product" class="left-chield">
            <span class="material-icons-round icon">fastfood</span>
            <span  class="chield-text">Product</span>
          </button>
  
          <button routerLink="/function" class="left-chield">
            <span class="material-icons-round icon">badge</span>
            <span class="chield-text">Funcionario</span>
          </button>
  
      </div>
  
      <div class="bottom-row-right-chield-container">
  
        <div class="right-chield">
          <span class="material-icons-round icon">account_box</span>
          <span class="chield-text">Admin</span>
        </div>
    
      </div>
  
    </div>
  
  </div>
  
  