
.header-menu-container{
    width: 100%;
    height: 90px;

    .top-row-container{
        height: 50px;
        width: 100%;
        background-color: #15161C;
        padding: 0px 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .logo{

            .logo-text{
                font-size: 1.2rem;
                font-weight: 600;
            }
        }
        
        .icon{
            transition: color 1s ease-in-out;
            color:#D7436E ;
            transform: scale(1);
            padding: 3px;
        }
        .icon:hover{
            cursor: pointer;
            transition: color 0.7s ease-in-out;
            color:#2B6AC5 ;
            
        }
    }

    .bottom-row-container{
        height: 40px;
        width: 100%;
        background-color: #282A36;
        padding: 0px 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .bottom-row-left-chield-container{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            gap: 40px;
            
            .left-chield{
               
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;
                gap:5px;
                padding: 0px 5px; 

                .icon{
                    transition: color 0.7s ease-in-out;
                    color:#C959E1 ;
                    transform: scale(0.8);
                }
                
                .chield-text{
                    transition: color 0.7s ease-in-out;
                    color:#C959E1 ;
                    font-size: 1.0rem;
                }
            }

            .left-chield:hover{
                cursor: pointer;
                .icon{
                    transition: color 0.7s ease-in-out;
                    color:#2B6AC5 ;
                  
                }
                
                .chield-text{
                    transition: color 0.7s ease-in-out;
                    color:#2B6AC5 ;
                }
            }
        }

        .bottom-row-right-chield-container{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            gap: 40px;
            
            .right-chield{
                
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;
                gap:5px; 
                padding: 0px 5px;
                border-radius: 5px;

                .icon{
                    transition: color 0.7s ease-in-out;
                    color:#26B373 ;
                    transform: scale(0.8);
                }
                
                .chield-text{
                    transition: color 0.7s ease-in-out;
                    color:#26B373 ;
                    font-size: 1.0rem;
                }
            }
            .right-chield:hover{
                cursor: pointer;
                .icon{
                    transition: color 0.7s ease-in-out;
                    color:#2B6AC5 ;
                  
                }
                
                .chield-text{
                    transition: color 0.7s ease-in-out;                   
                    color:#2B6AC5 ;
                }   
                
            }
        }
    }
}

