

<div class="header-menu-container">
 
    <div class="top-row-container">
  
      <div class="company-logo">
        <span class="logo-text green">EASY</span>
        <span class="logo-text red">RESTAURANT</span>
      </div>
  
      <mat-icon routerLink="/" class="material-icons-round icon">exit_to_app</mat-icon>
  
    </div>
  
    <div class="bottom-row-container">
  
      <div class="bottom-row-left-chield-container">
  
          <button routerLink="/home" class="left-chield">
            <mat-icon class="material-icons-round icon">home</mat-icon>
            <span  class="chield-text">Home</span>
          </button>
  
          <button routerLink="/product" class="left-chield">
            <mat-icon class="material-icons-round icon">fastfood</mat-icon>
            <span  class="chield-text">Product</span>
          </button>
  
          <button routerLink="/function" class="left-chield">
            <mat-icon class="material-icons-round icon">badge</mat-icon>
            <span class="chield-text">Função</span>
          </button>
  
      </div>
  
      <div class="bottom-row-right-chield-container">
  
        <div class="right-chield">
          <mat-icon class="material-icons-round icon">account_box</mat-icon>
          <span class="chield-text">Admin</span>
        </div>
    
      </div>
  
    </div>
  
  </div>
  
  