.bg-color-default{
    height: 100vh;
}
.container{
    height: auto;
    width: auto;
}
.product-card-container{
    // height: 100px;
    // width: 100px;
    margin:20px;
    background-color: white;
}