
.bg-color-default{
    height: calc(100vh - 90px);
    display: flex;
    justify-content: center;
    align-items: center;  
    background: linear-gradient(14deg , #7E4C78 0%, #403763 100%);
  
    .container{
        height: 80%;
        width: 80%;
        overflow-y: auto;

    }
    
}