<div class="side-left-menu-container">

  <div class="left-menu-chield">
      <span class="material-icons-round blue" (click)="callFatherAddElement()">add_circle_outline</span>
  </div>

  <div class="left-menu-chield">
      <span class="material-icons-round orange" (click)="callFatherEditElement()">edit</span>
  </div>

  <div class="left-menu-chield">
      <span class="material-icons-round green" (click)="callFatherSearchElement()">search</span>
  </div>

   <div class="left-menu-chield">
      <span class="material-icons-round red" (click)="callFatherRemoveElement()">remove_circle_outline</span>
  </div>

</div>