@mixin flex-row-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap:15px;
}

@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

@keyframes show-animation-login-card {
    from {
        opacity: 0;
        transform: scale(0);
        box-shadow: 0px 0px 100px 50px #ca7c92;
        
    }   
    to {
        opacity:  1;
        transform: scale(1);
        box-shadow: 0px 0px 20px 3px #d7436e;
    }
}

@keyframes show-animation-in-login-btn {
    from {
        color: #d7436e;
        border: 2px solid #d7436e;
        box-shadow: 0px 0px 0px 0px #d7436e;
    }   
    to {
        color: #C959E1;
        border: 2px solid #C959E1;
    }
}

@keyframes show-animation-out-login-btn {
    from {
        color: #C959E1;
        border: 2px solid #C959E1;
    }   
    to {
        color: #d7436e;
        border: 2px solid #d7436e;
    }
}

.page-login-container{
    height: 100%;
    width: 100%;
    @include flex-column-center ;
    background: rgb(2,0,36);
    background: radial-gradient(circle, #020024 10%, #6d317d 109%, #5E2D7F 98%);

    .login-card{
        height: 400px;
        width: 300px;
        background-color: rgb(123,72,215,0.3);
        @include flex-column-center ;
        border-radius: 10px;
        border: 2px solid #d7436e;
        box-shadow: 0px 0px 20px 3px #d7436e;
        animation: show-animation-login-card 5s;
        
        .form{
            height: 80%;
            width: 85%;
            @include flex-column-center ;
            justify-content: flex-end;
            gap: 40px;

            .logo-container{
                width: 200px;
              
                .img-logo{
                    width: 100%;
                }

                .logo-title{
                text-align: center;
                font-size: 1.45rem;
                font-weight: 400;
                text-transform: uppercase;
                }
            }
            .input-container{
                width: 200px;
                height: 40px;
                border-radius: 10px;
                background-color: transparent;
                @include flex-row-center;

                .icon{
                    transform: scale(0.8);
                    width: 30px;
                    border-right: 2px solid #26B373;
                }
                .input{
                    background-color: transparent;
                    font-size: 0.9rem;
                    font-weight: 600;
                    text-align: justify;
                    width: 125px;
                }
            }

            .input-green{
                border: 2px solid #26B373;
                font-size: 1rem;
                font-weight: 600;
            }

            .input-red{
                animation: show-animation-out-login-btn 2s;
                border: 2px solid #D7436E;
                justify-content: center;
            }
            .input-red:hover{
                cursor: pointer;
                color: #C959E1;
                border: 2px solid #C959E1;
                animation: show-animation-in-login-btn 1s ;
            }
            .input-red:active{
               position: relative;
               top: 2px;
            }
        }
    }
}