<div [ngClass]="{'card-selected' : (isSelected)}">
  <div [ngClass]="{'card':true,'no-shadow' : (isSelected)}" (click)=sendItemId(function.id.toString())>

    <div class="card-first-chield-container">
      <span class="material-icons-round icon">assignment_ind</span>

      <div class="card-chield-container">
        <span class="card-child-title">Código</span>
        <span class="card-child-text">{{functionId}}</span>
      </div>
    </div>

    <div class="card-chield-container">
      <span class="card-child-title">Função</span>
      <span class="card-child-text">{{functionType}}</span>
    </div>
    
  </div>
</div>