html,body{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: roboto;
}

a,input,button{
    outline-style: none;
    text-decoration: none;
}

.green{
    color: #26B373;
}
.green-bg{
    background-color: #26B373;
}

.red{
    color: #D7436E;
}
.red-bg{
    background-color: #D7436E;
}

.purple{
    color: #C959E1;
}
.purple-bg{
    background-color: #C959E1;
}

.blue{
    color: #2B6AC5;
}
.blue-bg{
    background-color: #2B6AC5;
}


