.card{
    position: relative;
    height:80px ;
    min-width: 500px;
    background-color: #100e35;
    border-radius: 5px;
    box-shadow: 0px 0px 4px 2px #000000;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    margin: 10px 10px 25px 10px;
    z-index: 10;
    
    .icon{
        color:#a7274c;
        transform: scale(1.4);
    }
    .card-chield-container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap:2px;
        min-width: 150px;
        //nao permite usuario selecionar texto
        -webkit-user-select: none;  
        -moz-user-select: none;     
        -ms-user-select: none;      
        user-select: none; 

        .card-child-title{
            color: #C959E1;
            font-size: 0.9rem;
            font-weight: 400;
        }
        .card-child-text{
            color: #26B373;
            font-size: 0.9rem;
            font-weight: 500;
        }    
    }

    .card-first-chield-container{
         display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
}



.card-selected,.product-card:hover{
    cursor: pointer;
}

.no-shadow{
    box-shadow: none !important;
}

.card-selected {
    --borderWidth: 3px;
    // background: #1D1F20;
    position: relative;
    border-radius: var(--borderWidth);
  }
  .card-selected:after {
    content: '';
    position: absolute;
    top: calc(-0.5 * var(--borderWidth));
    left: calc(3 * var( --borderWidth));
    height: calc(100% + var( --borderWidth) * 2 + -4px);
    width: calc(100% + var( --borderWidth) * 2 + -24px);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    // filter: blur(4px);
    border-radius: calc(2 * var(--borderWidth));
    z-index: 0;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
  }
  
  
  @keyframes animatedgradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }
  