
.bg-color-default{
    height: calc(100vh - 90px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;  
    padding: 40px 20px;
  
    .container{
        height: 100%;
        width: 90%;
        overflow-y: auto;

    }
    
}

