<form class="dialog-container" spellcheck="false" autocomplete="off" >
  <span *ngIf="isNew" class="dialog-title">Criar Trabalhador</span>
  <span *ngIf="!isNew" class="dialog-title">Editar Trabalhador</span>

  <div class="dialog-chield-container">
    <span class="input-title">Nome :</span>
    <input [(ngModel)]="worker.name" name="workerName" class="input green" type="text" autocomplete="off"  >
  </div>

  <div class="dialog-chield-container">
    <span class="input-title">Cpf :</span>
    <input [(ngModel)]="worker.cpf" name="workerCpf"  class="input green" type="text" autocomplete="off" >
  </div>

  <div class="dialog-chield-container">
    <span class="input-title">Telefone :</span>
    <input [(ngModel)]="worker.phone_Number" name="workerPhoneNumber" class="input green" type="text"  autocomplete="off" >
  </div>

  <div class="dialog-chield-container">
    <span class="input-title">Endereço :</span>
    <input [(ngModel)]="worker.address" name="workerAdress" class="input green" type="text" autocomplete="off">
  </div>

  <div class="dialog-chield-container">
    <span class="input-title">Email :</span>
    <input [(ngModel)]="worker.email" name="workerEmail" class="input green" type="text" autocomplete="off">
  </div>

  <mat-form-field appearance="fill">
    <mat-label>Função</mat-label>
    <mat-select [(ngModel)]="worker.function.id" name="function" (selectionChange)="changeType()">
      <mat-option *ngFor="let function of functions.functionList" [value]="function.id">
        {{function.type}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="dialog-chield-container-last-chield">
    <button class="btn cancel" (click)="onCancel()">Cancelar</button>
    <button class="btn save"  (click)="onSave()" >Salvar</button>
    
  </div>




</form>

<er-snack-bar [messageRecived]="messageSent"></er-snack-bar>